<footer class="footer primary-bg">
  <div class="container">
    <div
      class="border-bottom-light test2 pt-6 pt-sm-4 d-sm-flex flex-sm-row-reverse align-items-sm-start justify-content-sm-between"
    >
      <div class="d-flex justify-content-between align-items-center">
        <ul class="d-flex my-4 color-light fs-2 text-nowrap d-sm-none">
          <li><a href="index.html">首頁</a></li>
          <li class="ml-7"><a href="series.html">系列鏡框</a></li>
          <li class="ml-7"><a href="stores.html">門市據點</a></li>
          <li class="ml-7"><a href="blog.html">部落格</a></li>
          <li class="ml-7"><a href="faq.html">常見問題</a></li>
        </ul>
        <ul class="d-flex">
          <li>
            <a href="https://www.facebook.com/?locale=zh_TW"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                alt="fb"
                class="wh-48 wh-md-40 wh-sm-24"
            /></a>
          </li>
          <li class="ml-5 ml-md-3">
            <a href="https://www.instagram.com/"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                alt="IG"
                class="wh-48 wh-md-40 wh-sm-24"
            /></a>
          </li>
          <li class="ml-5 ml-md-3">
            <a href="https://line.me/tw/"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                alt="line"
                class="wh-48 wh-md-40 wh-sm-24"
            /></a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="mb-5">
          <li class="fs-6 color-light mb-2 fs-sm-2">
            <a href="0800-000-00" class="d-flex align-items-center">
              <span class="material-symbols-outlined mr-mid">call</span>
              <span>0800-000-00</span>
            </a>
          </li>
          <li class="fs-6 color-light fs-sm-2">
            <a href="glasses@business.com" class="d-flex align-items-center">
              <span class="material-symbols-outlined mr-mid">mail</span>
              <span>glasses@business.com</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-5 pb-5 flex-sm-column">
      <p class="fs-2 color-light mb-3 mb-sm-2">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul class="d-flex color-light fs-1 flex-sm-column">
        <li class="mr-6 mb-sm-2"><a href="#">隱私權政策</a></li>
        <li><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
