<header class="header primary-bg fs-3 fs-sm-2">
  <div class="container w-sm-100 d-flex justify-content-between flex-sm-column">
    <a href="index.html" class="my-3 my-sm-3 ml-sm-3"
      ><img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
        width="80"
        height="48"
        alt="眼鏡logo"
    /></a>
    <ul class="d-flex my-4 color-light flex-sm-wrap text-sm-nowrap">
      <li class="w-sm-50 border-sm-light text-sm-center py-sm-12">
        <a href="series_optical.html" class="d-block m-0">系統鏡框</a>
      </li>
      <li class="w-sm-50 border-sm-light text-sm-center py-sm-12">
        <a href="stores.html" class="d-block ml-64 m-0">門市據點</a>
      </li>
      <li class="w-sm-50 border-sm-light text-sm-center py-sm-12">
        <a href="blog.html" class="d-block ml-64 m-0">部落格</a>
      </li>
      <li class="w-sm-50 border-sm-light text-sm-center py-sm-12">
        <a href="faq.html" class="d-block ml-64 m-0"> 常見問題</a>
      </li>
    </ul>
  </div>
</header>
