<section class="secondary-bg">
  <div
    class="container d-flex justify-content-between align-items-center color-light"
  >
    <ul class="d-flex blog-nav">
      <li class="mr-6 mr-sm-4"><a href="#">最新消息</a></li>
      <li class="mr-6 mr-sm-4"><a href="#">特別企劃</a></li>
      <li class="mr-6 mr-sm-4"><a href="#">新品上市</a></li>
      <li><a href="#">鏡框小知識</a></li>
    </ul>
    <a href="#"
      ><span class="material-symbols-outlined blog-search d-sm-none"
        >search</span
      ></a
    >
  </div>
</section>
