<% const imageUrls = [
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true",
]; %> <% for(let i=0;i<12;i++){ %>
<li class="col-3 mb-80 col-md-6 col-sm-12">
  <img src="<%= imageUrls[i%6]%>" alt="眼鏡照片" />
  <div class="d-flex justify-content-between fs-4">
    <p class="">BJ41600S</p>
    <p class="color-info">NTD3,490</p>
  </div>
  <div class="d-flex">
    <div class="deep-brown-bg box mr-2"></div>
    <div class="color-deep-orange box"></div>
  </div>
</li>
<%}%>
