<% const imageUrls = [
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true",
"https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true",
]; %> <% for(let i=0;i<6;i++){ %>
<li class="col-3 mb-80 col-md-6 col-sm-12">
  <img src="<%= imageUrls[i]%>" alt="眼鏡照片" />
  <div class="d-flex justify-content-between fs-4">
    <p class="">BJ41600S</p>
    <p class="color-info">NTD3,490</p>
  </div>
  <div class="d-flex">
    <div class="deep-brown-bg box mr-2"></div>
    <div class="color-deep-orange box"></div>
  </div>
</li>
<%}%>
